body {
  /* LightYellow #FFFFE0
	 Navy #000080  MidnightBlue #191970  DarkBlue #00008B  RoyalBlue #4169E1 */
	background-color: white;
	color: Navy;
	font-family: Verdana, Arial, Tahoma;
	font-size: 11pt;
}

input {
	color: RoyalBlue;
	/*font-weight: bold;*/
	font-family: Verdana, Arial, Tahoma;
	font-size: 13pt;
}

 /*
 MediumSlateBlue #7B68EE
 CornflowerBlue #6495ED
 LightSteelBlue #B0C4DE 
 LightSkyBlue	#87CEFA
 
 */
 
table {
	display: table;
	border-collapse: separate;
	width: 100%;
	border: 2px solid gray;
	border-color: MediumSlateBlue;
	border-spacing: 3px;
	text-align:center;
}

th {
	border: 1px solid gray;
	border-color: RoyalBlue; /* PowderBlue RoyalBlue SkyBlue LightSteelBlue */
	background-color: RoyalBlue;
	padding: 3px;
	color: White;
}
td {
	border: 1px solid gray;
	border-color: RoyalBlue; /* PowderBlue RoyalBlue */
	/* background-color: PowderBlue; */
	padding: 4px;
}

.tabla-cabeza {
		display: table;
		border-collapse: separate;
		width: 100%;
		border: 1px solid gray;
		border-color: MediumSlateBlue;
		border-spacing: 0px;
		text-align:center;
		font-size: 12pt;
}
.tabla-cabeza td{
		border: 0px solid gray;
		border-color: RoyalBlue; /* PowderBlue RoyalBlue */
		background-color: AliceBlue;
		padding: 4px;
}


.lista-registros-caja {
  padding: 1px;
}

.lista-botones-caja {
  margin: 15px 5px 10px 5px; /* Exterior: arriba derecha abajo izquierda */
  display: flex;
  justify-content: center;
  align-items: center;
}

.lista-imc-cab {
  margin: 1px 2px 15px 2px; /* Exterior: arriba derecha abajo izquierda */
  padding: 5px 2px 5px 2px;  /* Interior: arriba derecha abajo izquierda */
  display: flex;
  justify-content: center;
  align-items: center;
  color: MediumBlue;  /* RoyalBlue */
  background-color: ; /* MintCream AliceBlue */
}

.lista-registros {
  margin-bottom: 2px;
}

.registro-item {
  margin-top: 2px;
  background: AliceBlue;  /* LightCyan #E0FFFF   AliceBlue #F0F8FF */
  border: 1px solid black;  
}

.editor-registro {
  display: none;
  margin: 20px 5px 20px 5px; /* Exterior: arriba derecha abajo izquierda */
  padding: 10px;  /* Interior: arriba derecha abajo izquierda */
  background: Lavender;  /* Lavender #E6E6FA */
  border: 1px solid blue;
  border-spacing: 5px;
}

.editor-registro-cab {
  display: none;
  margin: 20px 5px 20px 5px; /* Exterior: arriba derecha abajo izquierda */
  padding: 10px;  /* Interior: arriba derecha abajo izquierda */
  background: Lavender;  /* Lavender #E6E6FA */
  border: 1px solid blue;
  border-spacing: 5px;
}

.comentario{
  width:100%;
  height: 100px;
}

.footer {
  padding: 0px;
  color: RoyalBlue;
  /*font-style:italic;*/
  text-align: center;
}

.header {
  padding: 0px ;
  color: RoyalBlue;
  text-align: center;
  background-color: AliceBlue;
  /*
   height: 48.4px;
  line-height:48.4px;
  border: 1px solid black;
  */
}

h1,h4{
	border-bottom: 1px solid DodgerBlue;
}

.aviso {
	color: DodgerBlue;
}


/* ------------------------- ETIQUETAS PARA  BOTONES (10pt) ----------------------- */

.BotonA1 {
		cursor: pointer;
		font-family: Verdana, Arial, Tahoma;
	 	font-size: 11pt;
		font-weight: bold;
		color: #00759A;
		background-color: #FFFFD5;
		border: 1px solid #888888;
		padding: 5px;
		border-radius: 10px;
		}		

.BotonA2 {
		cursor: pointer;
		font-family: Verdana, Arial, Tahoma;
	 	font-size: 11pt;
		font-weight: bold;
		color: #09D0FF;
		background-color: #FFFFD5;
		border: 1px solid #888888;
		padding: 5px;
		border-radius: 10px;
		}		

.BotonAm {
		cursor: pointer;
		font-family: Verdana, Arial, Tahoma;
	 	font-size: 11pt;
		font-weight: bold;
		color: #BB650E;
		background-color: #FFFFD5;
		border: 1px solid #888888;
		padding: 5px;
		border-radius: 10px;
		}		

.BotonV {
		cursor: pointer;
		font-family: Verdana, Arial, Tahoma;
	 	font-size: 11pt;
		font-weight: bold;
		color: #009900;
		background-color: #FFFFD5;
		border: 1px solid #888888;
		padding: 5px;
		border-radius: 10px;
		}		

.BotonR {
		cursor: pointer;
		font-family: Verdana, Arial, Tahoma;
	 	font-size: 11pt;
		font-weight: bold;
		color: #993366;
		background-color: #FFFFD5;
		border: 1px solid #888888;
		padding: 5px;
		border-radius: 10px;
		}		

